/* .App{
  background-color: lightgreen;
} */

.HeadForm{
  background-color: aliceblue;
}

.taskSection{
  background-color: aliceblue;
}

.filterButton{
  width: 150px;
  margin: 0 15px;
}

.actionButton{
  width: 75px;
}

.AddTask{
  background-color: aliceblue;
}